.App {
    padding: 20px;
}

.LeftDrawerPaper {
    width: 15%;
    max-width: 400px;
    opacity: 80%;
}

.LeftDrawerButton {
    position: absolute;
    z-index: 10;
}

.ChatButton {
    position: absolute !important;
    right: 20px !important;
    z-index: 10;
}

.MapCanvas {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
}

.DebugPane {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 5px;
    left: 0px;
    right: 0px;
    width: 600px;
    border: 1px solid black;
    color: #eee;
    background: #0009;
    padding: 5px;
    z-index: 10;
}

.DebugPane span {
    display: inline-block;
    padding: 5px;
}

.DebugPane #debug-mode {
    color: red;
}

.ChatDrawerPaper {
    width: 25%;
    max-width: 400px;
    opacity: 80%;
}

.chat-history {
    background: black;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
}

.chat-history .user {
    color: lightblue;
    font-style: italic;
}

.chat-history .message {
    color: white;
    margin-left: 10px;
    padding-top: 6px;
}

.chat-history .message p {
    margin-bottom: 0px;
    margin-top: 0px;
}

.chat-history .message h1 {
    text-decoration: underline;
}

.chat-history .message h2 {
    text-decoration: underline;
}

.chat-history .message h3 {
    text-decoration: underline;
}

.chat-history .message h4 {
    text-decoration: underline;
}

.chat-history .message del {
    text-decoration: line-through;
}

.chat-history .message em {
    /* color: lightgreen; */
}

.chat-history .message strong {
    /* color: mediumturquoise; */
}

