body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5f5f5f;
}

.hidden {
    display: none;
}

#logo {
    position: absolute;
    top: 5px;
    left: 5px;
}

#tools {
    position: absolute;
    width: 200px;
    top: 80px;
    left: 5px;
}

.ui-menu {
    width: 200px;
}

#tools-panel {
    position: absolute;
    width: 250px;
    top: 380px;
    left: 5px;
    bottom: 0px;
    margin-bottom: 20px;

    border: 1px solid grey;
    background: white;
    overflow-y: auto;
}

#properties-panel {
    position: relative;
    padding: 5px;
}

#map-grids div span {
    display: inline-block;
    width: 70px;
}

#map-grids div {
    white-space: nowrap;
}

#map-properties #map-grids input {
    width: 30px;
}

#binding-ui {
    position: fixed;
    width: 400px;
    top: 200px;
    left: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    border: 1px solid black;
    background: grey;
}

#activeUserPanel {
    position: absolute;
    left: 20%;
    bottom: 0px;
}

#activeUserPanel .active-user {
    float: left;
    color: lightgreen;
    border: 1px solid grey;
    background: #03030380;
}

#character-sheets-panel {
    position: absolute;
    top: 70px;
    left: 300px;
    right: 360px;
    pointer-events: none;
}

#character-sheets-panel .close-button {
    position: relative;
    float: right;
    top: 0px;
    right: 0px;
    width: 16px;
    background: orange;
    color: black;
    border: 1px solid gray;
    cursor: pointer;
    text-align: center;
}

#character-sheets-panel .close-button:hover {
    background: cyan;
}

#character-sheets-panel .sheet {
    float: right;
    border: 1px solid grey;
    color: white;
    background: #030303D0;
    width: 400px;
    margin: 10px;
    padding: 5px;
    overflow: hidden;
    pointer-events: all;
}

#character-sheets-panel .sheet .sheet-section-heading {
    cursor: pointer;
}

#character-sheets-panel .sheet .sheet-section-heading:hover {
    color: cyan;
}

#character-sheets-panel .sheet .sheet-section {
}

#character-sheets-panel .sheet .name {
    font-style: italic;
    font-size: 24px;
    color: white;
    text-decoration: underline;
    text-transform: capitalize;
    margin-left: 10px;
}

#character-sheets-panel .sheet .sheet-element {
    margin-left: 20px;
}

#character-sheets-panel .sheet .sheet-element .sheet-element-label {
    display: inline-block;
    min-width: 80px;
}

#character-sheets-panel .sheet .sheet-proficiencies {
    float: none;
    border: 1px solid gray;
    padding: 5px;
}

#character-sheets-panel .sheet .sheet-proficiencies div {
    display: inline-block;
    margin: 3px;
    padding: 3px;
    border: 1px solid gray;
}

#character-sheets-panel .sheet .sheet-proficiency {
    background: green;
}

#character-sheets-panel .sheet .sheet-proficiency-expertise {
    background: gold;
    color: black;
}

#character-sheets-panel .sheet .sheet-attacks {
    border: 1px solid gray;
    padding: 5px;
}

#character-sheets-panel .sheet .sheet-attack-data {
    margin-left: 25px;
}

#character-sheets-panel .sheet .sheet-attack-data div {
    padding: 2px;
}

#character-sheets-panel .sheet .sheet-attack-attr {
    border: 1px solid gray;
    margin-left: 10px;
}
